/* ------ custom css ------ */
html, body, #root {
    height: 100%;
}

@keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 

.blink-image {
    animation: blink normal 0.5s infinite ease-in-out;
}

.txtAlgnCenter {
    text-align: center;
}

.blk-center {
    margin: auto;
}

.wdth40per {
    width: 40%;
}

.wdth100per {
    width: 100%;
}

/* button custom propt */

.btn-dflt{
    background-color: transparent;
    border-style: none;
}

.cstm-ldr-icon {
    left: 50%;
    position: absolute;
    transform: translate(-50%, 20%);
}

