@import './Variables/Variables.scss';

.profile-cont {

    .cstm-profile-cont {
        .dpUpload-fld {
            cursor:pointer;
            input {
                display: none;
            }
        }
    }
    .card {
        .profileImg {
            img {
                transition: all 0.5s
            }
        }
        .profileImg {
            img:hover {
                transform: scale(1.5)
            }
        }
    }
    .createdAt-date {
        background-color: $bgGry;
    }
}