@import './Variables/Variables.scss';

.profile-cont {

    .card {
        .profileImg {
            img {
                transition: all 0.5s
            }
        }
        &:hover {
            .profileImg {
                img {
                    transform: scale(1.5)
                }
            }
        }
    }
    .createdAt-date {
        background-color: $bgGry;
    }
}