.Navbar {
    background:linear-gradient(45deg, rgba(0, 0, 255, 0.37), rgba(255, 0, 0, 0.37));
    /* border: 2px solid chocolate; */
}

.Navbar .nav-menu-icon {
  display: none;
}

/* clearfix hack */
/* https://www.w3schools.com/howto/howto_css_clearfix.asp */
.navbar-cont::after {
    /* overflow: hidden; */
    content: "";
    clear: both;
    display: block;
}

.nav-item {
    display: inline-block;
    padding: 5px;
    margin-right: 5px;
    border-radius: 5px;
}

.nav-item:hover {
    background-color: aqua;
}

@media (max-width: 768px ) {
    .navbar-cont .nav-menu-icon {
        display: block;
        float: right;
        padding-right: 10px;
    }
    .navlinks-cont {
        display: none;
    }
}

/* .nav-menu-icon {
    cursor: pointer;
    position: relative;
    right: 0;
} */