/* ------ custom css ------ */
@keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 

.blink-image {
    animation: blink normal 0.5s infinite ease-in-out;
}

.txtAlgnCenter {
    text-align: center;
}